<main class="main-container">
  <div class="chat-container">
    <div class="chat-navigation">
      <div class="container-header">
        <img
          src="assets/logo.svg"
          alt="Тут Название Лого"
          class="container-header__logo"
        />
        <h2 class="container-header__name">
          <span class="container-header__name_red">ТУТ</span>
          <span class="container-header__name_green">НАЗВАНИЕ</span>
        </h2>
      </div>
      <button
        class="chat-navigation__button"
        (click)="setState(State.Active)"
        (click)="sendReport()"
      >
        ОТПРАВИТЬ ЖАЛОБУ
      </button>
      <button class="chat-navigation__button" (click)="setState(State.Search)">
        ВЕРНУТЬСЯ К ПОИСКУ
      </button>
      <button
        class="chat-navigation__button"
        [routerLink]="['/start']"
        routerLinkActive="router-link-active"
      >
        ПОКИНУТЬ ЧАТ
      </button>
    </div>
    <div
      class="chat-container__window"
      [class.chat-container__window_for-search]="getState() == State.Search"
    >
      <div [ngSwitch]="getState()">
        <div *ngSwitchCase="State.Search" class="chat-container__window_search">
          ОЖИДАНИЕ ЧАТА
        </div>
        <div
          *ngSwitchCase="State.Active"
          class="chat-container__window_dialogue"
        >
          <div class="chat-container__message-area">
            <p class="chat-container__message_my">АГА</p>
            <p class="chat-container__message_interlocutor">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam,
              sit?
            </p>
            <p class="chat-container__message_my">АГА</p>
            <p class="chat-container__message_interlocutor">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam,
              sit?
            </p><p class="chat-container__message_my">АГА</p>
            <p class="chat-container__message_interlocutor">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam,
              sit?
            </p><p class="chat-container__message_my">АГА</p>
            <p class="chat-container__message_interlocutor">
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam,
              sit?
            </p>
          </div>
          <div class="add-error bottom">
            <p
              class="add-photo-error"
              [class.add-photo-error_disabled]="getCanAddPhoto()"
            >
              ПРЕВЫШЕНИЕ РАЗМЕРА ФАЙЛА. МАКСИМУМ ???МБ
            </p>
            <div class="message-type">
              <textarea
                name="message-write"
                id="message-write"
                class="message-type__message-write"
                placeholder="Начните печатать"
              ></textarea>
              <button
                class="message-type__image-button"
                (click)="addPhoto()"
              ></button>
              <button
                class="message-type__send-button"
                [class.message-type__send-button_disabled]="!getCanAddPhoto()"
                [disabled]="!getCanAddPhoto()"
                (click)="sendMessage()"
              ></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="State.Banned" class="chat-container__window_banned">
          ВЫ БЫЛИ ЗАБАНЕНЫ
        </div>
        <div *ngSwitchDefault>КАК ТЫ ТУТ ОКАЗАЛСЯ?</div>
      </div>
    </div>
  </div>
</main>
