<main class="main-container">
  <div class="chat-container">
    <div class="chat-navigation">
      <div class="container-header">
        <img
          src="assets/logo.svg"
          alt="Тут Название Лого"
          class="container-header__logo"
        />
        <h2 class="container-header__name">
          <span class="container-header__name_red">ТУТ</span>
          <span class="container-header__name_green">НАЗВАНИЕ</span>
        </h2>
      </div>
      <button
        class="chat-navigation__button"
        (click)="setState(State.Active)"
        (click)="sendReport()"
      >
        ОТПРАВИТЬ ЖАЛОБУ
      </button>
      <button class="chat-navigation__button" (click)="setState(State.Search)">
        ВЕРНУТЬСЯ К ПОИСКУ
      </button>
      <button
        class="chat-navigation__button"
        [routerLink]="['/start']"
        routerLinkActive="router-link-active"
      >
        ПОКИНУТЬ ЧАТ
      </button>
    </div>
    <div
      class="chat-container__window"
      [class.chat-container__window_for-search]="getState() == State.Search"
    >
      <div [ngSwitch]="getState()">
        <div *ngSwitchCase="State.Search" class="chat-container__window_search">
          ОЖИДАНИЕ ЧАТА
        </div>
        <div
          *ngSwitchCase="State.Active"
          class="chat-container__window_dialogue"
        >
          <div class="chat-container__message-area">
            <p
              *ngFor="let msg of messageArray"
              [class.chat-container__message_my]="msg.isMine"
              [class.chat-container__message_interlocutor]="!msg.isMine"
              [class.chat-container__message_contain-image_my]="msg.imgURL && msg.isMine"
              [class.chat-container__message_contain-image_interloutor]="msg.imgURL && !msg.isMine"
            >
              <span *ngIf="msg.content">{{ msg.content }}</span>
              <img
                *ngIf="msg.imgURL"
                [src]="msg.imgURL"
                alt="Chat Image"
                class="chat-container__chat-image"
              />
            </p>
          </div>
          <div class="add-error bottom">
            <p
              class="add-photo-error"
              [class.add-photo-error_disabled]="canAddFile"
            >
              ПРЕВЫШЕНИЕ РАЗМЕРА ФАЙЛА. МАКСИМУМ
              {{ MAX_IMAGE_SIZE / 1024 / 1024 }} МБ <br />
              ВОЗМОЖНО НЕ ТОТ ТИП ФАЙЛА
            </p>
            <div
              class="message-type"
              [formGroup]="msgForm"
              [class.message-type_for-image]="sendPhoto"
            >
              <div class="image-preview" *ngIf="imagePreview">
                <img
                  [src]="imagePreview"
                  alt="Preview"
                  class="image-preview__image"
                />
                <button
                  class="image-preview__remove-button"
                  (click)="removeImage()"
                ></button>
              </div>
              <textarea
                formControlName="msg"
                name="message-write"
                id="message-write"
                class="message-type__message-write"
                [class.message-type__message-write_hidden]="sendPhoto"
                placeholder="Начните печатать"
                (keydown.enter)="onEnterPressed($event)"
              ></textarea>
              <input
                type="file"
                id="file-input"
                class="message-type__image-button"
                accept="image/*"
                style="display: none"
                (change)="handleFileInput($event)"
              />
              <label
                for="file-input"
                class="message-type__image-button"
              ></label>
              <button
                class="message-type__send-button"
                [class.message-type__send-button_disabled]="!canAddFile"
                [disabled]="!canAddFile"
                (click)="sendMessage()"
              ></button>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="State.Banned" class="chat-container__window_banned">
          ВЫ БЫЛИ ЗАБАНЕНЫ
        </div>
        <div *ngSwitchDefault>КАК ТЫ ТУТ ОКАЗАЛСЯ?</div>
      </div>
    </div>
  </div>
</main>
