.main-container {
  background-image: url("../../../../public/assets/bg-tile-chat.png");
  margin: 0 30px 20px;
  text-shadow: rgba($color: #000000, $alpha: 0.2) 0 4px 4px;
}

.container-header {
  display: flex;
  padding: 71px 62px 0 82px;
  gap: 50px;
  &__logo {
    height: 148px;
  }
  &__name {
    margin: 0;
    background-image: url("../../../../public/assets/bg-title.png");
    background-size: cover;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    &_red {
      color: red;
      line-height: 1;
      margin: 4px auto 0px 32px;
    }
    &_green {
      color: lime;
      text-align: center;
      margin: 0 64px 0 64px;
      line-height: 1;
    }
  }
}

.chat-container{
    display: flex;
    flex-direction: row;
    &__window{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        max-width: 960px;
        max-height: 930px;
        background-image: url("../../../../public/assets/bg-tile-dialogue.png");
        margin: 71px 68px 39px 0;
        &_search{
            color: lime;
        }
    }
}

.chat-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
  margin-bottom: 32px;
  flex-grow: 0;
  &__button {
    background-color: lime;
    color: red;
    font-size: 48px;
    text-shadow: rgba($color: #000000, $alpha: 0.2) 0 4px 4px;
    border-radius: 50px;
    min-width: 592px;
    min-height: 81px;
  }
}
