<main class="main-container">
  <div class="start-container">
    <div class="container-header">
      <img
        src="assets/logo.svg"
        alt="Тут Название Лого"
        class="container-header__logo"
      />
      <h2 class="container-header__name">
        <span class="container-header__name_red">ТУТ</span>
        <span class="container-header__name_green">НАЗВАНИЕ</span>
      </h2>
    </div>
    <div class="start-container__categories-area">
      <button
        class="start-container__category"
        (click)="toggleCategory(category)"
        [class.active]="isSelected(category)"
        *ngFor="let category of categories"
        >{{ category.toUpperCase() }}</button
      >
    </div>
    <button
      class="start-container__button"
      (click)="goToChat()"
    >
      НАЧАТЬ ПОИСК
    </button>
  </div>
</main>
